In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
# creating a range from numpy array
heart_disease = pd.read_csv('./data/heart-disease.csv')

### Introduction to Scikit learn
this notebook demonstrates some of the most useful functions of the scikit-learn library

What we're going to be covering:
- End to end scikit-learn workflow
- Getting the data ready
- Choose the right estimator/algorithm
- Fit the model/algorithm/estimator & use it to make predictions
- Evaluating a model
- Improve a model
- Save & Load Model
- Putting it all together

In [3]:
heart_disease.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

#### End-to-end scikit learn workflow

In [4]:
# importing and separating the data for features and labels
heart_disease = pd.read_csv("./data/heart-disease.csv")
heart_disease.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
# creating X (features)
X = heart_disease.drop("target", axis=1)

# creatinge y (label) from the data
y = heart_disease["target"]
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [6]:
# Choose the right model and hyper-parameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# Keeping the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [7]:
# Fit the model to the data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

clf.fit(X_train, y_train);

In [8]:
y_preds = clf.predict(X_test)

In [9]:
y_preds

array([0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1])

In [10]:
y_test

290    0
144    1
109    1
239    0
97     1
      ..
249    0
104    1
6      1
224    0
258    0
Name: target, Length: 61, dtype: int64

In [11]:
# Evaluate the model on training & test data
clf.score(X_train, y_train)

1.0

In [12]:
clf.score(X_test, y_test)

0.8360655737704918

In [13]:
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.90      0.80      0.85        35
           1       0.77      0.88      0.82        26

    accuracy                           0.84        61
   macro avg       0.83      0.84      0.83        61
weighted avg       0.85      0.84      0.84        61

In [14]:
confusion_matrix(y_test, y_preds)

array([[28,  7],
       [ 3, 23]])

In [15]:
accuracy_score(y_test, y_preds)

0.8360655737704918

In [21]:
# Improve a model
# try different amount of n_estimators (hyper-parameters)
np.random.seed(42)

for i in range(10, 100, 10):
  clf = RandomForestClassifier(n_estimators=i)
  clf.fit(X_train, y_train)
  score = clf.score(X_test, y_test)
  print(f"Trying a model with {i} estimators\nModel accuracy with test set: {score * 100:.2f}%\n")

Trying a model with 10 estimators
Model accuracy with test set: 81.97%

Trying a model with 20 estimators
Model accuracy with test set: 80.33%

Trying a model with 30 estimators
Model accuracy with test set: 80.33%

Trying a model with 40 estimators
Model accuracy with test set: 80.33%

Trying a model with 50 estimators
Model accuracy with test set: 80.33%

Trying a model with 60 estimators
Model accuracy with test set: 83.61%

Trying a model with 70 estimators
Model accuracy with test set: 80.33%

Trying a model with 80 estimators
Model accuracy with test set: 83.61%

Trying a model with 90 estimators
Model accuracy with test set: 78.69%

In [17]:
# 6 save a model and load it
import pickle
pickle.dump(clf, open('random_forest_model_1.pkl', 'wb'))

In [18]:
# load a model
loaded_model = pickle.load(open('random_forest_model_1.pkl', 'rb'))

In [22]:
for i in len(loaded_model)

90

In [20]:
loaded_model.score(X_test, y_test)

0.7868852459016393