In [3]:
# standard imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

### Getting data ready to be used with machine learning
3 main things we have to do:
1. Split the data into features & labels (usually `x` & `y`)
2. Filling (also called imputing) disregarding missing values
3. Converting non-numerical values to numerical values, also called feature encoding

In [4]:
heart_disease = pd.read_csv('./data/heart-disease.csv')
heart_disease.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
X = heart_disease.drop("target", axis=1)
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [6]:
y = heart_disease["target"]

In [7]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [8]:
# splitting the data into train/test datasets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [9]:
X_train.shape, X_test.shape

((242, 13), (61, 13))

In [10]:
y_train.shape, y_test.shape

((242,), (61,))

### 1.1 Encoding the data (Car Sales)

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [12]:
car_sales_ext = pd.read_csv('./data/car-sales-extended.csv')
car_sales_ext.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [13]:
car_sales_ext.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [14]:
# splitting data into features & labels
X = car_sales_ext.drop("Price", axis=1) # features 
y = car_sales_ext["Price"] # Price (label)

In [15]:
X.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
dtype: object

In [16]:
from sklearn.model_selection import train_test_split

# split data intro training/test sets
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [17]:
X_train.shape, y_train.shape

((800, 4), (800,))

In [18]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# takes an array of features to encode and transform
feature_categories = ["Make", "Colour", "Doors"]

transformer = ColumnTransformer([("one_hot", OneHotEncoder(), feature_categories)], remainder="passthrough")

transformed_X = transformer.fit_transform(X)

In [19]:
pd.DataFrame(transformed_X)

      0    1    2    3    4    5    6    7    8    9    10   11        12
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   35820.0
996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  155144.0
997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   66604.0
998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215883.0
999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  248360.0

[1000 rows x 13 columns]

In [20]:
np.random.seed(42)
X_train, X_test, y_train, y_test = train_test_split(transformed_X, y, test_size=0.2)

In [21]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(X_train, y_train)

RandomForestRegressor()

In [22]:
model.score(X_test, y_test)

0.3235867221569877

### 1.2 Checking for missing values?
1. Fill them with some values (also known as imputing data).
2. Remove the sample with missing data altogether.

In [23]:
car_sales_ext["Doors"].value_counts()

4    856
5     79
3     65
Name: Doors, dtype: int64

In [24]:
car_sales_missing = pd.read_csv("./data/car-sales-extended-missing-data.csv")
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [25]:
car_sales_missing["Make"][car_sales_missing["Make"].isna()].head()

8     NaN
13    NaN
40    NaN
54    NaN
73    NaN
Name: Make, dtype: object

In [26]:
# filling (na) values with "missing" str on Make and Colour cols
car_sales_missing["Make"].fillna("missing", inplace=True)
car_sales_missing["Colour"].fillna("missing", inplace=True)
# add mean odometer to the missing values on odometer (km) col
car_sales_missing["Odometer (KM)"].fillna(car_sales_missing["Odometer (KM)"].mean(), inplace=True)

In [27]:
car_sales_missing.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors            50
Price            50
dtype: int64

In [28]:
# filling 4 doors for missing values 
car_sales_missing["Doors"].fillna(4, inplace=True)

In [29]:
car_sales_missing.dropna(inplace=True)

In [30]:
car_sales_missing.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [31]:
# encode category values & transform columns
features_to_encode = ["Make", "Colour", "Doors"]
transformer = ColumnTransformer([("one_hot", OneHotEncoder(), features_to_encode)], remainder="passthrough")

X = car_sales_missing.drop("Price", axis=1)
y = car_sales_missing["Price"]

transformed_X = transformer.fit_transform(X)

np.random.seed(42)
X_train, X_test, y_train, y_test = train_test_split(transformed_X, y, test_size=0.2)

In [32]:
model = RandomForestRegressor()
model.fit(X_train, y_train);

In [33]:
model.score(X_test, y_test)

0.22011714008302485

In [34]:
car_sales_missing.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

#### 1.2.1 Re-do the model classification with null values
trying this out to test whether Scikit throws an exception if null values are included

In [35]:
car_sales_miss = pd.read_csv("./data/car-sales-extended-missing-data.csv")
# list of missing values by each column
car_sales_miss.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [36]:
y = car_sales_miss["Price"]
car_sales_miss.drop("Price", axis=1, inplace=True)

transformer = ColumnTransformer([("one_hot", OneHotEncoder(), features_to_encode)], remainder="passthrough")

car_sales_miss

       Make Colour  Odometer (KM)  Doors
0     Honda  White        35431.0    4.0
1       BMW   Blue       192714.0    5.0
2     Honda  White        84714.0    4.0
3    Toyota  White       154365.0    4.0
4    Nissan   Blue       181577.0    3.0
..      ...    ...            ...    ...
995  Toyota  Black        35820.0    4.0
996     NaN  White       155144.0    3.0
997  Nissan   Blue        66604.0    4.0
998   Honda  White       215883.0    4.0
999  Toyota   Blue       248360.0    4.0

[1000 rows x 4 columns]

### Handling Missing Values with SciKit

In [45]:
car_sales = pd.read_csv("https://raw.githubusercontent.com/ramiraza/zero-to-mastery-ml/master/data/car-sales-extended-missing-data.csv")